    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <p>Jimmy Masías &copy; 2018-</p>
          {% include social.html %}
        </div>
      </div>
    </footer>
