{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
</head>

<body>

  {% include google-analytics.html %}
  {% include yandex-metrica.html %}

 <script type="text/javascript">
  WebFontConfig = {
    google: {
      families: ['Ubuntu::latin']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '' | relative_url }}/">{{ site.name }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ '' | relative_url }}/">/home</a></li>
          <li><a href="{{ 'archive.html' | relative_url }}">/archive</a></li>
          <li><a href="{{ 'quotes.html' | relative_url }}">/quotes</a></li>
          <li><a href="{{ 'about.html' | relative_url }}">/about</a></li>
        </ul>
      </div>
    </div>
  </nav>
