---
layout: page
---

<div class="simple-block">
    <p>
      Hi! I'm formally a physics scientist (PhD), but addicted to Linux, data and security stuff.
      I like to test configurations that I find interesting on my box, and lately Docker-related too.
      Every now and then, I try to document some ideas about it, as you'll find below :)
    </p>
</div>

{% for post in site.posts limit:10 %}
<h2 class="post-title">
    <a href="{{ post.url | prepend: site.baseurl }}.html">
        {{ post.title }}
    </a>
</h2>

<div class="post-meta">
    <div class="post-time">
        <i class="fa fa-calendar"></i>
        <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date_to_string }}</time>
    </div>
    <ul>
        {% for tag in post.tags %}
        <li><a href="{{'/tag/' | append: tag | relative_url }}.html">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="post-descr">
    <p>
        {{ post.description }}
    </p>
</div>
{% endfor %}


<div class="post-footer">
    <div class="column-full">
        <h3><a href="{{ '/archive.html' | relative_url }}">Blog archive</a></h3>
    </div>
</div>
