---
layout: page
---
<div class="page-content wc-container">

  <div class="post">
    <h2 class="post_title">{{page.title}}</h2>
    <ul>
      {% for post in site.posts %}
        {% for tag in post.tags %}
          {% if tag == page.tag %}
          <li class="archive_list">
            <time>{{ post.date | date_to_string }}</time>
            <a class="archive_list_article_link" href='{{ post.url | relative_url }}.html'>{{post.title}}</a>
            <p>{{post.description}}</p>
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
